.blog-wrapper{
    color:salmon ;
    max-width:300px;
    border: 1px solid tomato;
    padding: 20px 40px;
    margin-top: 50px;
    -webkit-box-shadow: -42px 29px 31px -15px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -42px 29px 31px -15px rgba(0, 0, 0, 0.27);
    box-shadow: -42px 29px 31px -15px rgba(0, 0, 0, 0.27);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
}

body{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.blog-wrapper h3{
    color: salmon;
    margin-bottom: 40px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}